@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
}


.nav ul{
  display: flex;
  list-style: none;
}

.nav ul li{
  padding: 12px 45px;
}


.loginContainer{
  width: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
  padding: 23px;
  border-radius: 25px;
  height: 70%;
  background-color: pink;
}

.loginContainer input{
  width: 50%;
  height: 50px;
  font-size: 1.3rem;
  margin: 10px 25%;
  border-radius: 5px;
  padding: 3px 5px;
}

.loginContainer input[type=checkbox]{
  display: inline-block;
  width: 24px;
  align-items: center;
  margin: 0 3px 0 0;
}

.showPassDiv{
  display: flex;
  align-items: center;
  padding-left: 25%;
  font-size: 1rem;
}


.result{
  width: 25%;
  height: 20%;
  top: 0px;
  left: 73%;
  position: relative;
  display: none;
  border-radius: 23px;
  padding: 12px 23px;
  color: white;
  font-size: larger;
  text-align: center;
  background-color: red;
}

.successContainer span{
  padding: 10px 23px;
}